includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkModelAppends: false
    noEnvCallsOutsideOfConfig: false
    ignoreErrors:
        - '#Trait Elegantly\\Media\\Concerns\\HasMedia is used zero times and is not analysed.#'